{% extends "src/_includes/base.njk" %} <!-- Path to your base layout -->

{% block title %}Home - My Convention{% endblock %}

{% block head %}
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block content %}
    <div class="relative">
        {% image "src/assets/roseandboard.png", "Rose and Board", "100vw", "w-full" %}
        <div class="absolute top-0 left-0 right-0 bottom-0 flex justify-start items-center">
        <!-- Positioning and styling for the overlay -->
        <div class="bg-white bg-opacity-70 p-4 max-w-lg">
            <h1 class="text-5xl">US Go Congress 2024</h1>
            <p>Planning for the 40th Us Go Congress has commenced! If you would like to help organzie the 2024 Congerss in Portland, we have lots of things you can do to help.</p>
            <button class="px-4 py-2 bg-agagreen text-white">Find Out More</button>
        </div>
        </div>
    </div>
    <div class="h-20 bg-agablue">

    </div>
    {% set latestPost = collections.blog[0] %}
    <Section class="mb-8">
        <h2 class="text-3xl ml-4 mb-4"><a href="/blog">News</h2></a>
        <div class="ml-16">
            <a href="{{ latestPost.url }}"><h3 class="text-2xl">{{ latestPost.data.title }}</h3></a>
            <h5>by {{latestPost.data.author}}</h5>
            <div class="prose">
            <p>{{ latestPost.templateContent | safe | truncate(300) }}</p>
            </div>
            <a class="font-bold" href="{{ latestPost.url }}">Read more</a>
        </div>
    </Section>
    <div class="h-10 bg-agablue"></div>
    <div class="relative">
    {% image "src/assets/images/portland-photo.jpg", "Photo of Portland" %}
        <div class="absolute top-0 left-0 right-0 bottom-0">
            <div class="mt-2 ml-2 italic font-bold text-3xl text-white">Portland, the City of Roses</div>
            <div class="flex w-full justify-end">

            <div class="bg-white bg-opacity-70 p-4 mr-8 mt-24  max-w-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Elementum pulvinar etiam non quam lacus suspendisse faucibus. Habitasse platea dictumst quisque sagittis. Tincidunt arcu non sodales neque sodales ut etiam sit amet. Non curabitur gravida arcu ac tortor dignissim convallis. Vitae elementum curabitur vitae nunc sed velit dignissim sodales ut. Commodo quis imperdiet massa tincidunt nunc pulvinar sapien. At varius vel pharetra vel turpis nunc eget lorem dolor. Laoreet non curabitur gravida arcu ac tortor dignissim. Ut diam quam nulla porttitor massa id.
                <button class="px-4 py-2 bg-agared text-white">Check it Out</button>
            </div>
            </div>

        </div>
    </div>
<script>
 if (window.netlifyIdentity) {
     window.netlifyIdentity.on("init", user => {
         if (!user) {
             window.netlifyIdentity.on("login", () => {
                 document.location.href = "/admin/";
             });
         }
     });
 }
</script>
{% endblock %}
